Diagnostics:
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        portability-*,
        modernize-*,
      ]
    CheckOptions:
      WarnOnFloatingPointNarrowingConversion: false