[submodule "third-party/vcpkg"]
	path = third-party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third-party/bundle"]
	path = third-party/bundle
	url = https://github.com/r-lyeh-archived/bundle.git
[submodule "third-party/libfuse"]
	path = third-party/libfuse
	url = https://github.com/libfuse/libfuse.git
